*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
*.sublime-project
*.sublime-workspace
.buildpath
.settings

es/
lib/

coverage
.nyc_output
package-lock.json
yarn.lock

node_modules
demo/bundle.js
